<cfset qryData = queryNew("ProjectID,ProjectDescription,ArupScope,Innovation,AddedValue")>
<cfset queryAddRow(qryData, 1)>
<cfset querySetCell(qryData, "ProjectID", "9492200")>
<cfset querySetCell(qryData, "ProjectDescription", "Some nice descriptive text.")>
<cfset querySetCell(qryData, "WorkScope", "We did lots of work on this project")>
<cfset querySetCell(qryData, "Innovation", "Very little")>
<cfset querySetCell(qryData, "AddedValue", "About twenty quid..")>

<cfset myCass = createObject("java", "com.bluemini.cfcassandra.Cassandra")>
<cfoutput>#qryData.getDataSourceName()#</cfoutput>
<cfdump var="#listToArray(myCass.whoAmI(qryData))#">
